
@media all and (min-width: 48.1em) {
  .no-touchevents #compose-tabs {
    margin-top: -62px;
  }
  .no-touchevents #compose-tabs > .compose-tabs {
    padding-top: 20px !important;
    z-index: 10;
  }

  /* Handle the fixed toolbar */
  .no-touchevents .toolbar-fixed .compose-tasks, .no-touchevents .toolbar-fixed #compose-tabs > .compose-tabs {
    top: 39px;
  }
  .no-touchevents .toolbar-fixed.toolbar-tray-open.toolbar-horizontal .compose-tasks,
  .toolbar-fixed.toolbar-tray-open.toolbar-horizontal  #compose-tabs > .compose-tabs {
    top: 79px;
  }

  .no-touchevents .compose-tasks-content .container-inline {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .no-touchevents .compose-tasks-content > :last-child {
    margin-right: 0;
  }

  .no-touchevents  #compose-tabs > .compose-tabs {
    position: sticky;
    top: 0;
  }

}

.no-touchevents .compose-form .form-actions-bottom {
  display: none;
}

.no-touchevents .compose-tasks {
  position: sticky;
  text-align: right;
  top: 0;
  z-index: 11;
  display: inline-block;
  left: 100%;
}

.no-touchevents .compose-tasks-content > div {
  display: inline-block;
  margin: 0 10px 0 0;
}

.no-touchevents .compose-tasks-content #edit-compose-tasks > * {
  display: inline-block;
  margin: 0 10px 0 0;
}
