.compose-entity-widget > div {
    position: relative;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 90px auto;
    grid-auto-flow: dense;
    align-items: center;
}

.compose-preview-meta {
    position: absolute;
    left: 90px;
    top: 40px;
    z-index: 1;
    display: grid;
}

.compose-preview-meta h2 {
    grid-column-start: 2;
}
.compose-preview-meta .ief-entity-operations {
    grid-row-start: 1;
}

.compose-preview-wrapper {
    grid-column-start: 2;
    display: block;
}
.compose-entity-preview {
    transform: scale(0.7);
    transform-origin: top left;
    height: auto !important;
}

.compose-preview-reveal {
    position: absolute;
    width: 70%;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.compose-preview-wrapper.loaded {
    position: relative;
    max-height: 320px;
    overflow: hidden;
    transition: max-height 0.2s ease;
}
.compose-delta-wrapper {
    grid-column-start: 1;
}

.compose-entity-widget .ief-form-row {
    grid-row-start: 2;
    grid-column-start: span 2;
}

.compose-actions {
  margin-top: 12px;
}
.add-new-container .add-new-row {
  width: 100%;
  margin-bottom: 30px;
}
.add-new-container .add-new-row .add-new-right {
  vertical-align: top;
  width: 100%;
}
.add-new-container .add-new-row .add-new-right .info-text {
  display: inline-block;
  padding-left: 0.5%;
  width: 75%;
}
.add-new-container .add-new-row .add-new-right .info-button {
  display: inline-block;
  text-align: right;
  width: 24%;
}
.add-new-container .add-new-row.has-icon .add-new-right .info-text,
.add-new-container .add-new-row.has-icon .add-new-right .info-button {
  display: block;
  max-width: none;
  text-align: left;
  padding-left: 0;
}
.add-new-container .add-new-row.has-icon .compose-preview-icon {
  width: 60%;
  display: inline-block;
}
.add-new-container .add-new-row.has-icon .add-new-right {
  display: inline-block;
}
.add-new-container .add-new-row.has-icon .add-new-right {
  display: inline-block;
  vertical-align: top;
  width: 36%;
  padding-left: 4%;
}
.add-new-container .add-new-row .add-new-right .btn-primary {
  margin: 0;
}

.modal {
  overflow: auto !important;
}
