.compose-preview-wrapper {
  margin-bottom: -91px;
}

.compose-preview-wrapper.loaded {
  margin-bottom: 0;
}

.compose-entity-preview {
  border: 1px solid #ccc;
  padding: 28px;
}

.compose-preview-meta {
  background: rgba(255,255,255,0.75);
  padding: 20px;
}

.compose-preview-reveal {
  text-align: center;
  background: rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

/* Placeholder stuff handles the loading animation for previews */
@keyframes composePlaceholderShimmer{
  0%{
    background-position: 100% 0
  }
  100%{
    background-position: -100% 0
  }
}

.compose-placeholder {
  position: relative;
  height: 400px;
  width: 100%;
}

.compose-placeholder-element {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: composePlaceholderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 200% 120px;
  height: 296px;
  position: relative;
}

.compose-placeholder > div {
  background: white;
  position: absolute;
}
.compose-placeholder-bottomleft {
  top: 180px;
  left: 0px;
  width: 20%;
  height: 122px;
}
.compose-placeholder-margin {
  position: absolute;
  height: 296px;
  width: 4%;
  left: 20%;
  top: 0px;
}
.compose-placeholder-spacerow {
  position: absolute;
  height: 6px;
  width: 76%;
  left: 24%;
  top: 22px;
}
.compose-placeholder-endrow {
  position: absolute;
  height: 22px;
  width: 4%;
  right: 0;
  top: 0;
}
.compose-placeholder-spacerow-2 {
  top: 50px;
}
.compose-placeholder-endrow-2 {
  top: 28px;
  width: 8%;
}
.compose-placeholder-spacerow-3 {
  top: 78px;
}
.compose-placeholder-endrow-3 {
  top: 56px;
  width: 2%;
}
.compose-placeholder-spacerow-4 {
  top: 106px;
}
.compose-placeholder-endrow-4 {
  top: 84px;
  width: 10%;
}
.compose-placeholder-spacerow-5 {
  top: 134px;
  height: 28px;
}
.compose-placeholder-endrow-5 {
  top: 112px;
  width: 22%;
}
.compose-placeholder-spacerow-6 {
  top: 184px;
}
.compose-placeholder-endrow-6 {
  top: 162px;
  width: 3%;
}
.compose-placeholder-spacerow-7 {
  top: 212px;
}
.compose-placeholder-endrow-7 {
  top: 190px;
  width: 5%;
}
.compose-placeholder-spacerow-8 {
  top: 240px;
}
.compose-placeholder-endrow-8 {
  top: 218px;
  width: 4%;
}
.compose-placeholder-spacerow-9 {
  top: 268px;
}
.compose-placeholder-endrow-9 {
  top: 246px;
  width: 3%;
}
.compose-placeholder-endrow-10 {
  top: 274px;
  width: 62%;
}

.add-new-container .add-new-row .add-new-right p {
  font-weight: 500;
}
.add-new-container .add-new-row .add-new-right .light-text {
  color: #999;
}
.add-new-container .add-new-row .add-new-right button {
  margin-top: 15px;
}


@media all and (min-width: 768px) {
  .compose-filter-actions, .form-inline .compose-filter-actions, .form--inline .compose-filter-actions {
    vertical-align: bottom !important;
  }
}
