@media screen and (min-width: 780px),
  (orientation: landscape) and (min-device-height: 780px) {

  .layout-region-node-main,
  .layout-region-node-footer {
    float: none;
    width: 100%;
    padding-right: 0;
  }
}

.compose-edit-mode .ui-tabs .ui-tabs-panel {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.compose-edit-mode .ui-tabs .ui-tabs-nav {
  padding-bottom: 0;
}

.compose-edit-mode .ui-tabs .ui-tabs-nav li {
  padding: 6px 1em 4px 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 2px;
  position: relative;
  top: 1px;
  background: rgba(242, 242, 240, 0.7);
  border-bottom: 1px solid #ccc;
}

.compose-edit-mode .ui-tabs .ui-tabs-nav li:hover {
  background: #FFF;
}

.compose-edit-mode .ui-tabs .ui-tabs-nav li.ui-state-active {
  background: #FFF;
  border-bottom: 1px solid #FFF;
}

.compose-edit-mode .ui-tabs .ui-tabs-nav li.ui-state-error {
  border-left-color: #a51b00;
  border-right-color: #a51b00;
  border-top-color: #a51b00;
}

.compose-edit-mode .ui-tabs .ui-tabs-nav li.ui-state-error a {
  color: #a51b00;
}

.compose-edit-mode .button.compose-error {
  background: #F49493;
}

.compose-edit-mode .layout-region-node-footer__content {
  border-top: none;
}

.compose-edit-mode .layout-node-form {
  position: relative;
}

.compose-edit-mode .tabs.primary {
  display: none;
}

.compose-edit-mode .content-header {
  border-bottom: 1px solid #CCC;
}

.compose-form.has-errors {
  position: relative;
}

.compose-form.has-errors #compose-validation-message {
  margin-bottom: 15px;
  background-image: none;
  box-shadow: none;
}

.compose-form.has-errors .form-actions {
  top: 52px;
  position: absolute;
  width: 100%;
  margin: 0;
}

.compose-tasks-content {
  background: white;
  padding: 0;
}

@media all and (min-width: 48.1em) {
  .no-touchevents .compose-tabs {
    background: white;
    padding-top: 26px !important;
  }

  .no-touchevents .compose-tasks {
    background: white;
  }
  .no-touchevents #compose-tabs {
    margin-top: -58px;
  }
    /* Handle the fixed toolbar */
  .no-touchevents .toolbar-fixed .compose-tabs {
    top: 33px;
  }
  .no-touchevents .toolbar-fixed.toolbar-tray-open.toolbar-horizontal .compose-tabs {
    top: 73px;
  }
}

.compose-filter-actions {
  clear: left;
  margin-bottom: 10px;
}
