{#
/**
 * @file
 * Template for the ComposeWidget.
 *
 * Available variables:
 * - attributes: HTML attributes of the container div. This attributes variable
 *   contains the data-compose-entity-widget data attribute whose value is the
 *   $form_id.
 * - entities: A list of the referenced entities. Each entity is initially
 *   rendered as a div with the following data attributes:
 *     - data-compose-delta
 *     - data-compose-field-name
 *     - data-compose-entity-id
 *     - data-compose-entity-type
 *   and a value of an AJAX progress throbber. The contents of this div, i.e.
 *   the AJAX throbber, will be replaced with the markup of the rendered entity
 *   via an AJAX callback from the compose/compose-entity-widget library.
 *
 * @see compose_preprocess_entity_widget()
 */
#}

<div {{ attributes }}>
  {{ entities }}
</div>
