<div class="compose-placeholder compose-placeholder-element">
    <div class="compose-placeholder-bottomleft"></div>
    <div class="compose-placeholder-margin"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-1"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-1"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-2"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-2"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-3"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-3"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-4"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-4"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-5"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-5"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-6"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-6"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-7"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-7"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-8"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-8"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-9"></div>
    <div class="compose-placeholder-spacerow compose-placeholder-spacerow-9"></div>
    <div class="compose-placeholder-endrow compose-placeholder-endrow-10"></div>
</div>
