{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
{% if form['#compose'] %}
  <div id="compose-validation-message"></div>
  <div class="compose-form">
    <div class="layout-node-form">
      <div class="compose-tasks">
        <div class="compose-tasks-content">
          {{ form.compose_tasks }}
          <div class="form-actions">
            {{ form.actions }}
          </div>
        </div>
      </div>
      <div class="layout-region layout-region-node-main">
        {{ form|without('footer', 'actions', 'compose_tasks') }}
      </div>
      <div class="layout-region layout-region-node-footer">
        <div class="layout-region-node-footer__content">
          {{ form.footer }}
          <div class="form-actions-bottom">
            {{ form.actions }}
          </div>
        </div>
      </div>
    </div>


  </div>


{% else %}
  <div class="layout-node-form clearfix">
    <div class="layout-region layout-region-node-main">
      {{ form|without('advanced', 'footer', 'actions') }}
    </div>
    <div class="layout-region layout-region-node-secondary">
      {{ form.advanced }}
    </div>
    <div class="layout-region layout-region-node-footer">
      <div class="layout-region-node-footer__content">
        {{ form.footer }}
        {{ form.actions }}
      </div>
    </div>
  </div>
{% endif %}
